html {
    background: url(https://x.boardgamearena.net/data/themereleases/221026-1000/img/layout/back-main.jpg), #f2f2f2;
}

h1, h2 {
    margin: 0.3rem;
}

.moved-square {
    background: lightgray;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.to-line {
    min-height: 50px;
    margin: 10px;
    padding: 10px;
}

.bga-animations_animated {
    box-shadow: 0 0 3px 2px orange;
}