:root {
    --bga-animations_z-index: 999;
}

.bga-animations_animation-surface {
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible; // not auto to never add scrollbars
    z-index: var(--bga-animations_z-index);
}

.bga-animations_filling-space {
    display: inline-block;
}

.bga-animations_animation-wrapper {
    display: inline-block;
    position: absolute;
}

/* Scoring */

.bga-animations_floating-message {
    --color: black;

	font-size: 3em;
    font-weight: bold;
    color: var(--color);
    position: absolute;
    text-shadow: 1px 0 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff;
    white-space: nowrap;
}